<footer class="footer">
    <div class="container">
        <div class="footer-social">
            <a href="#" class="ui icon"><i class="facebook square icon"></i></a>
            <a href="#" class="ui icon"><i class="twitter square icon"></i></a>
            <a href="#" class="ui icon"><i class="linkedin square icon"></i></a>
            <a href="#" class="ui icon"><i class="instagram square icon"></i></a>
        </div>        
        <div class="footer-copy">
            &copy; {{ site.time | date: '%Y' }} Aarti's Blog. All rights reserved.
        </div>
    </div>
</footer>
