.footer {
    background-color: #2c3e50; // Dark blue background

    .container {
        display: flex;
        justify-content: space-between; // Space out content and social links
        align-items: center; // Vertically center items
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px 20px; // Adjust as needed for desired height
    }

    // Styling for footer text
    .footer-copy {
        color: #ecf0f1; // Off-white text
        font-weight: 500;
        flex: 1; // Ensure the text occupies the available space and stays centered
        margin: 0; // Remove any default margins
        text-align: center; // Center-align text
    }

    .footer-social {
        display: flex;
        align-items: center; // Vertically center icons

        a {
            margin: 0 10px;

            i.icon {
                font-size: 24px;
                color: #ecf0f1; // Off-white to match the menu items
            
                &:hover {
                    color: #fff; // Pure white on hover for a slight contrast
                }
            }
        }
    }
}

.fab {
    font-size: 1.25rem;  /* adjust as needed */
    margin-right: 10px;  /* space between icons */
    color: #ecf0f1;      /* color matching your theme */
}
