/* General styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Grid system for blog cards */
section.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Blog Card Styles */
article {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: relative;
    flex-basis: calc(33.3333% - 20px); 
    margin: 10px; 
    transition: transform 0.2s;
    padding-bottom: 60px; /* Space for the floating button */
}

article:hover {
    transform: scale(1.05);
}

article h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #0077CC;
    padding-bottom: 10px;
}

article h2 a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

article h2 a:hover {
    color: #0077CC;
}

article p {
    margin-bottom: 10px;
}

/* Separated styles for the "Read More" button */
article .read-more-btn {
    text-decoration: none;
    background-color: #0077CC;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    transition: background-color 0.2s;
}

article .read-more-btn:hover {
    background-color: #0055a3;
}

/* Responsive styles */
@media (max-width: 1000px) {
    article {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    article {
        flex-basis: 100%;
    }
}
